body {
  background-color: #307c55;
}

.page-header {
  text-align: center;
  margin-left: 10%;
  width: 80%;
  height: 20%;
  background-color: #f3f5e0;
  color: #a51417;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid #a51417;
}

.navbar-default {
  left: 20%;
  text-align: center;
  width: 60%;
  background-color: #a51417;
  color: #FFFFFF;
  text-decoration: bold;
}

.dropdown {
  color: #FFFFFF;
  text-decoration: bold;
}
.dropdown a{
  color: #FFFFFF;
  text-decoration: bold;
}

.container {
  width: 80%;
}

.col-md-4 {
  text-align: center;
  background-color: #f3f5e0;
  color: #a51417;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid #a51417;
}


.col-md-4 a{
  padding-left: 50px;
  color: #a51417;
}

.row {
  margin-top: 20px;
}
